<div ng-include="'/app/assets/angular/views/header.html'" ng-controller="HeaderCtrl"></div>
<section class="service-2 section">
    <div class="container">
      <div class="row">
         <div class="text-center"  >
            <h2>About Us</h2>
            <div class="border"></div>
         </div>
         <div class="col-md-12 col-sm-12">
            <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="service-item1">
                    <div class="col-sm-12 text-center hideAtLargeScreen">
                        <img src="/app/assets/angular/images/about-us.png" class="image-responsive" style="width: 240px; margin : 0 auto"/>
                    </div>  
                    <div class="col-sm-12 plr0">
                        <div class="col-sm-9 plr0">
                            <h3>IIMSS (Indian Institute of Mind and Spiritual Sciences)</h3>
                            <p class="test-justify">We train people to use their power of subconscious mind which is lying latent. This in turn
                                brings the shift in their life and helps them to achieve bliss in their physical, mental,
                                emotional, relationships in their personal and professional life; their first introduction to
                                harmony in their homes and work.
                            </p>
                        </div>
                        <div class="col-sm-3 showAtLargeScreen">
                            <img src="/app/assets/angular/images/about-us.png" class="image-responsive" style="position: absolute; width: 240px;"/>
                        </div>
                    </div> 
                     <p class="test-justify">We do it by forming much personalised training in groups whereby the theory is taught along
                        with the practical implementation of the same. The participants thereby get a scientific
                        approach to the reason of their behaviour and remedies through subconscious mind.
                        The training programmes include skills and techniques from all modalities that enable the
                        mind to reach to its highest potential both at the conscious as well as subconscious levels.
                        Right from basics of Psychology to the intense therapies that work with Mind fall under Mind
                        Sciences. Few of these are Psychology, Counseling, NLP, Clinical Hypnotherapy, Reiki,
                        Theta Healing, Family Constellation and Transactional Analysis.
                     </p>
                     <p>We work with individual groups, corporate trainings, schools and colleges.
                     <ul>
                        <li style="list-style-type: disc; padding-left: 0px; margin-left: 18px;">
                           Professional Courses: Psychologists, Counselors, Therapists, all those who wish to become Professional Mind Therapists
                        </li>
                        <li style="list-style-type: disc; padding-left: 0px; margin-left: 18px;">
                           Self Empowerment Courses: All those who wish to balance their lives and empower themselves.
                        </li>
                     </ul>
                     </p> 
                     <p>We provide ready to use skill-sets to the individuals through our professional courses which
                        in turn increases their productivity.
                        Through our self-empowerment programmes, the participants have observed a shift into their
                        lives which has increased their scores on happiness scale. The ultimate result of all human
                        struggle is to reach happiness. We make people smile. We teach them how to be in the now
                        rather than being in the past or the future. This being in the now leads to their spiritual growth
                        making them more balanced, healthier and happier in their lives.
                     </p>
                     <h5>Vision</h5>
                     <p>To train and educate people about their minds leading to spiritual growth in personal and professional lives resulting international peace.</p>
                     <h5>Mission</h5>
                     <p>
                     <ul>
                        <li style="list-style-type: disc; padding-left: 0px; margin-left: 18px;">
                           To empower people through the power of subconscious mind.
                        </li>
                        <li style="list-style-type: disc; padding-left: 0px; margin-left: 18px;">
                           To impart right skill sets needed in Mental Health Professionals.
                        </li>
                        <li style="list-style-type: disc; padding-left: 0px; margin-left: 18px;">
                           To bring about a shift in the lives of individuals, organisations and educational
                           institutions.
                        </li>
                     </ul>
                        		
                     </p>
                     <p class="text-center">
                        <a data-scroll href="/secure/contact" class="btn btn-main">Contact Us</a>
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- End section -->
<div ng-include="'/app/assets/angular/views/footer.html'" ></div>