<div ng-include="'/app/assets/angular/views/header.html'" ng-controller="HeaderCtrl"></div>
<section class="service-2 section team xx">
        <div class="container">
            <div class="row team-row">
                <div class="text-center">
                    <h2>Fear Not… Just BELIEVE!</h2>
                    <div class="border"></div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="row ">
                        <div class="col-md-12 col-sm-12 col-xs-12 service-item1" style="padding-top:0px; padding-bottom: 0px; padding-left: 15px; padding-right: 15px;">
                            <p class="text-center"><img src="/app/assets/angular/images/team/member-5.jpg" alt="" class="imgPro"></p>
                            <h3><p style="text-align: center; font-size: 19px">Dr. Kavita Bhargava</p></h3>
                            <h4><p style="text-align: right; font-size: 17px">01/09/2017</p></h4>
                            <div class="border"></div>
                            <p class="text-justify">This comes in at the moment when I lost hope in what I am doing and where I am heading
                                (Clinical Hypnotherapy)… 5 months of constant analysis, learning, logical reasoning and
                                decision making as well as therapies landed me up in a kind of conclusion that the more we
                                get into this science the more we get vulnerable or nothing gets sorted, in fact more issues
                                keep coming to your mind time and again. It felt as if it is a whirlpool of peeling the layers…
                                The more we do it, the more it requires… Even then I thought not to give up on the science
                                and finally decided to join TASSO… Thinking at the back of my mind, will it be worth it?
                                But the conviction to do it seemed strong enough… Here it comes as a testimony today to me
                                to prove my faith in the science one more time, to rebuild it all over again, to trust the
                                universe that it does everything for my benefit and for the greater cause….</p>
                            <p class="text-justify">These days I am dealing with a client like Dr. Brian Weiss’ Catherine… Many lives to be
                                healed... Many sessions taken already…. I share a rapport with her and she respects me like
                                anything… I listen to her many a times and her answers give me more insight into my own
                                life… With each therapy of her’s I have personally gained a lot… But today’s session left me
                                way too excited and awestruck at the same time! The session was about cord cutting with her
                                belief systems and in the tunnel when the energy exchange was over, she was asked to cut the
                                cord, the cord wasn’t getting cut… There I gave the command 1,2,3… the reason for the cord
                                not getting cut in front of your eyes and she sees herself as a baby who is afraid of getting
                                away from her mother, soon after her birth when the umbilical cord was being cut by the
                                doctors. The doctors were hurrying in cutting the cord as they worried about the mother who
                                was not in a very good condition… This behaviour of the doctors simply scared her and she
                                worried about her sick mother…. This was sorted out by the knowledge of hypno-birthing
                                techniques given by Ms. Neerja Handa and the baby was brought to the tunnel again after
                                doing the energy exchanges with the people in the operation theatre… The child in the tunnel
                                now was asked to give back her belief system “I am not good” through the cord…. The cord
                                was cut after integrating the child… But my Catherine (Client) felt that although the cord is
                                cut there’s still something remaining… Ahh! It was her parents… This led to Hypnodrama
                                and Energy Exchanges with all the belief systems given to her by them that are not required
                                in her system… Later on she felt some tiny tail like things all around the body… Instead of
                                calling them one by one on request of the client, a command was given to bring them
                                altogether…. Energy exchanges led to the healing of all that appeared… After all this a new
                                belief system was implanted in her system that stated, “As I love and trust myself, I see how
                                blessed I am. All happiness comes to me easily and effortlessly!” ….</p>  
                            <p class="text-justify">The mystery began when after the 20 steps the wound where the cord was cut and band aid
                                was put wasn’t getting healed, so the counting from 1 to 20 was repeated again… Her wound
                                
                                started getting healed and coming back again… Then and there the reason was called for and
                                the client sees a lady in black who happened to appear in her last session along with an angel.
                                The angel had said then that it isn’t the right time to address her. So, today when she worked
                                upon her belief systems it was time for her to show up again. The confused Psychologist in
                                me thought that it’s just a creation of my client’s mind and nothing more… The knowledge in
                                me said it can be an entity… To my surprise, it was neither of the two but Archangel Michael
                                and I testify it because there were things that referred to me directly… Before knowing the
                                reality of Archangel I gave an affirmation to the client “It is safe to detach.” The answer came
                                from the archangel that the message was for me not my client and that the client has to learn
                                attachment... FYI before starting the session I did my Redikall reading and this was exactly
                                the affirmation that was meant for me… I had just asked my client to repeat it thinking that
                                it’s her mind which is creating a character and that is why the lady isn’t ready to leave… The
                                Archangel however knew it was for the therapist and not for the client…. This blew me off
                                and I realised that my knowledge is right… An encounter with an exorcism like case earlier
                                where the entity felt I had ego came to my remembrance and immediately I started
                                apologizing with this entity (as I thought it is an entity till then) with all my heart…. So now I
                                asked my client to speak to the entity and find out what she is doing in her space, whether
                                dead or alive, how did she enter, who sent her etc… All the answers from the entity kept me
                                confused and spellbound. Then finally I asked my client to ask, “Is it your original self?”
                                “No” came as the answer… A request to show the original self changed the lady in black into
                                a male angel in black clothes; as per my client. He kept on talking with the client and when I
                                asked certain questions he said “Shut up!” to me twice which my client out of courtesy didn’t
                                say it to me… When I asked my client to see if there’s any message for me… Archangel
                                says, “Learn to be polite and humble because at times you don’t know what you are dealing
                                with and that I need to learn a lot from my client (which I often already do!) and that once my
                                client learns her lessons well he will appear again and give more messages for me. Till then
                                this much is sufficient.” By this time I was already in tears apologising for being rude to him,
                                for not identifying him before and thinking that it was just a mind’s creation… When I
                                thanked him he answered by saying, “Apologies accepted” instead of saying welcome or
                                anything else, as if seeing me straightaway! Yes, it seemed to my client that he was talking to
                                me directly and I could sense the same. The moments when he said shut up to me and my
                                client didn’t pass it on to me out of her courtesy was the time when I realised that I need to
                                give space to my client and that he doesn’t need any disturbances from me while he is talking
                                to my client. Once he was done with my client, the wound was healed completely. I woke my
                                client up and she was simply in shock as she is not a Christian and has never come across
                                such things. When I showed her Wikipedia, she was shocked further as the image in
                                Wikipedia resembled the exact clothes she saw the angel wearing, the same attitude and
                                behaviour as described in Wikipedia…!</p> 
                            <p class="text-justify">We truly get paid for healing ourselves! The universe brings you back to your faith when you
                                lose it all…. All dreams that you see with open eyes, the insights and the visualisations that
                                come to you are true! Fear not, just BELIEVE is what my cell phone’s wallpaper says and
                                here I see it one more time coming true in front of my own eyes…. To add on to it the
                                
                                Archangel Michael validates all that Archangel Neerja always wanted me to learn… This
                                strengthens my faith in past lives and soul contracts… The final message to my client by the
                                Archangel was, “Either you learn your lessons easily or I’ll make sure that your life becomes
                                difficult so that you learn all your lessons well, either ways I’ll be guiding you.” reminded me
                                of the message I get in my prayers many a times… The Psychologist in me didn’t believe in
                                angels till date and never expected that the universe will go to this extent to help me bring all
                                the pieces of my jigsaw puzzle together… Thank you once again EKAA for making me a part
                                of your universe! I now am focussing back on the bigger jigsaw puzzle that needs to be
                                completed by us…</p> 
                            <p>Gratitude to <strong>Mrs. Anita Sehgal</strong> for motivating me to write this testimony…</p>            
                            <p><br></p>
                            <p><br></p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>    
</section>   

<div ng-include="'/app/assets/angular/views/footer.html'"></div>

<style>
    .courseBox {
    /* border-left: 5px solid red; */
        background: #f2f2f2;
        margin-bottom: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #000 !important;
    }
    .courseBox a{
        color: #000 !important;
    }
    .link:hover{
        color: #000 !important;
    }  
    .color-black {
        color: #000;
    }
    .service-2 .service-item1:hover i {
        color: #000;
    }
    .border2 {
        height: 2px;
        margin: 15px auto 15px;
        position: relative;
        /* width: 80%; */
        background: #28ABE3;
    }
    .serviceHeader {
        padding-bottom: 5px;
        background: rgba(0,0,0,.2);
        color: #fff;
    }
    .headerColor {
        background: rgba(0,0,0,.7);
        padding-top: 3px;
        padding-bottom: 3px;
    }
    .headerRow {
        margin-right: -11px;
        margin-left: -11px;
        margin-top: -1px;
    }
    .programBox {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .subHeader {
        background: rgba(0,0,0,.5);
        margin-top: 10px;
        padding-top: 3px;
        padding-bottom: 3px;
        margin-bottom: 10px;
    }
    .contactBox {
        background: rgba(0,0,0,.7);
        margin-bottom: -6px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 5px;
    }
</style>
