<div ng-include="'/app/assets/angular/views/header.html'" ng-controller="HeaderCtrl"></div>
<section class="section text-center homeSection carMargin">
    <div class="container-fluid">
        <div class="row">
            <div id="homeCarousel2" class="carousel slide">
                <div class="carousel-inner" style="text-align: -webkit-center; background: rgba(0,0,0,0.5);">
                    <div class="item active">
                        <img src="/app/assets/angular/images/home/4.jpg" class="image-responsive homeCar"/>
                        <div class="container">
                            <div class="carousel-caption" style="font-size: 28px;">
                            </div>
                        </div>                
                    </div>
                    <div class="item">
                        <img src="/app/assets/angular/images/home/11.jpg" class="image-responsive homeCar"/>
                        <div class="container">
                            <div class="carousel-caption" style="font-size: 28px;">
                            </div>
                        </div>                
                    </div>
                    <div class="item">
                        <img src="/app/assets/angular/images/home/5.jpg" class="image-responsive homeCar"/>
                        <div class="container">
                            <div class="carousel-caption" style="font-size: 28px;">
                            </div>
                        </div>                
                    </div>
                    <div class="item">
                        <img src="/app/assets/angular/images/home/6.jpg" class="image-responsive homeCar"/>
                        <div class="container">
                            <div class="carousel-caption" style="font-size: 28px;">
                            </div>
                        </div>                
                    </div>
                    <div class="item">
                        <img src="/app/assets/angular/images/home/7.jpg" class="image-responsive homeCar"/>
                        <div class="container">
                            <div class="carousel-caption" style="font-size: 28px;">
                            </div>
                        </div>                
                    </div>
                    <div class="item">
                        <img src="/app/assets/angular/images/home/8.jpg" class="image-responsive homeCar"/>
                        <div class="container">
                            <div class="carousel-caption" style="font-size: 28px;">
                            </div>
                        </div>                
                    </div>
                    <div class="item">
                        <img src="/app/assets/angular/images/home/9.jpg" class="image-responsive homeCar"/>
                        <div class="container">
                            <div class="carousel-caption" style="font-size: 28px;">
                            </div>
                        </div>                
                    </div>
                    <div class="item">
                        <img src="/app/assets/angular/images/home/1.jpg" class="image-responsive homeCar"/>
                        <div class="container">
                            <div class="carousel-caption" style="font-size: 28px;">
                            </div>
                        </div>                
                    </div>
                    <div class="item">
                        <img src="/app/assets/angular/images/home/11.jpg" class="image-responsive homeCar"/>
                        <div class="container">
                            <div class="carousel-caption" style="font-size: 28px;">
                            </div>
                        </div>                
                    </div>
                    <div class="item">
                        <img src="/app/assets/angular/images/home/12.jpg" class="image-responsive homeCar"/>
                        <div class="container">
                            <div class="carousel-caption" style="font-size: 28px;">
                            </div>
                        </div>                
                    </div>
                    <div class="item">
                        <img src="/app/assets/angular/images/home/13.jpg" class="image-responsive homeCar"/>
                        <div class="container">
                            <div class="carousel-caption" style="font-size: 28px;">
                            </div>
                        </div>                
                    </div>
                    <div class="item">
                        <img src="/app/assets/angular/images/home/14.jpg" class="image-responsive homeCar"/>
                        <div class="container">
                            <div class="carousel-caption" style="font-size: 28px;">
                            </div>
                        </div>                
                    </div>
                    <div class="item">
                        <img src="/app/assets/angular/images/home/15.jpg" class="image-responsive homeCar"/>
                        <div class="container">
                            <div class="carousel-caption" style="font-size: 28px;">
                            </div>
                        </div>                
                    </div>
                    <div class="item">
                        <img src="/app/assets/angular/images/home/16.jpg" class="image-responsive homeCar"/>
                        <div class="container">
                            <div class="carousel-caption" style="font-size: 28px;">
                            </div>
                        </div>                
                    </div>
                    <div class="item">
                        <img src="/app/assets/angular/images/home/17.jpg" class="image-responsive homeCar"/>
                        <div class="container">
                            <div class="carousel-caption" style="font-size: 28px;">
                            </div>
                        </div>                
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section text-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-3">
                    <div class="service-item">
                        <img src="/app/assets/angular/images/home/mission.png" style="height: 200px; width : 200px; margin : 0 auto;"/>
                        <h4>Our Mission</h4>
                        <p>We believe in providing world-class psychological services to our client.</p>
                        <p class="text-center">
                            <a data-scroll href="/secure/about" class="btn btn-main2">Know More</a>
                        </p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="service-item">
                        <img src="/app/assets/angular/images/home/services.png" style="height: 200px; width : 200px; margin : 0 auto;"/>
                        <h4>Our Services</h4>
                        <p>We provide services for organisations as well as individuals.</p>
                        <p class="text-center">
                            <a data-scroll href="/secure/service" class="btn btn-main2">Know More</a>
                        </p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="service-item">
                        <img src="/app/assets/angular/images/home/workshop.png" style="height: 200px; width : 200px; margin : 0 auto;"/>
                        <h4>Workshops</h4>
                        <p>Know about our all upcoming skill based programs.</p>
                        <p class="text-center">
                            <a data-scroll href="/secure/workshop" class="btn btn-main2">Know More</a>
                        </p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="service-item">
                        <img src="/app/assets/angular/images/home/gallery.png" style="height: 200px; width : 200px; margin : 0 auto;"/>
                        <h4>Gallery</h4>
                        <p>See the glowrious picture of the organization and their events.</p>
                        <p class="text-center">
                            <a data-scroll href="/secure/gallery" class="btn btn-main2">Know More</a>
                        </p>
                    </div>
                </div>    
            </div>
            <div class="col-sm-12">
                <hr></hr>
            </div>
            <div class="col-sm-12 col-md-7" style="text-align : left">
                <div class="col-sm-12">
                    <h3>Welcome To Our Centre</h3>
                    <p>We train people to use their power of subconscious mind which is lying latent. This in turn
                            brings the shift in their life and helps them to achieve bliss in their physical, mental,
                            emotional, relationships in their personal and professional life; their first introduction to
                            harmony in their homes and work.</p>
                    <p class="">
                        <a data-scroll href="/secure/about" class="btn btn-main2">Read More</a>
                    </p>
                </div>
                <div class="col-sm-12">
                    <hr></hr>
                </div>
                <div class="col-sm-12">
                    <h3>Programs</h3>
                    <p>We are currently providing variour courses as a part of our primary service.</p>
                    <ul>
                        <li style="font-size: 18px; font-weight: 700;">
                            <i class="fa fa-chevron-circle-right" aria-hidden="true"></i><a href="/secure/service" style="margin-left: 10px;">Live Program</a>
                        </li>
                        <li style="font-size: 18px; font-weight: 700;">
                            <i class="fa fa-chevron-circle-right" aria-hidden="true"></i><a href="/secure/service" style="margin-left: 10px;">Online Program</a>
                        </li>
                    </ul>
                    <p></p>
                    <p class="">
                        <a data-scroll href="/secure/service" class="btn btn-main2">Read More</a>
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-5" style="text-align : left">
                <h3>Latest News</h3>
                <div class="col-sm-12 plr0">
                    <ul>
                        <li class="newsFeed">News Feed 1</li>
                        <li class="newsFeed">News Feed 2</li>
                        <li class="newsFeed">News Feed 3</li>
                        <li class="newsFeed">News Feed 4</li>
                        <li class="newsFeed">News Feed 5</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>                
<section class="service-2 section team xx">
    <div class="container">
        <div class="row team-row">
            <div class="text-center">
                <h2>Testimonials</h2>
                <div class="border"></div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="row ">
                        <div class="col-md-12 col-sm-12 col-xs-12 service-item1">
                            <div class="scroller" id="demo">
                                <ul>
                                    <li>
                                        <div class="col-sm-12 plr0">
                                            <div class="col-xs-12 col-sm-2">
                                                    <img class="img-responsive" src="/app/assets/angular/images/home/avatar.png" width="90" height="90" style="height: 90px; margin:0 auto;" alt="Meghna">
                                            </div>
                                            <div class="col-xs-12 col-sm-10" style="border-left: 5px solid #5BB12F;">
                                                <p>When I went to Dr. Kavita that time my condition was like a goal less, helpless and a depressed person. Altogether it was a bad condition. After meeting with her for the first time, I found that she can change my condition. On the very first day she listened to all my problems and made an action plan for me.</p>
                                                <p>She started giving me positive thoughts that brought changes in my daily life. She is someone who knows how things can be worked out for a depressed person. She has a solution for all the problems. I have now changed a lot in the sense that I have positivity in my life and know that I can live my live in a better way. I appreciate Dr. Kavita a lot for this and wish her all the best in her future endeavors.</p>
                                                <p></p>
                                                <p style="color: #5c5c92"><strong>-- D.K. Sharma, Hotelier, Ajmer</strong></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div  class="col-sm-12 plr0" style="margin-top :5px">
                                            <div class="col-xs-12 col-sm-2">
                                                    <img class="img-responsive" src="/app/assets/angular/images/home/avatar.png" width="90" height="140" style="height: 90px; margin:0 auto;" alt="Meghna">
                                            </div>
                                            <div class="col-xs-12 col-sm-10" style="border-left: 5px solid #5BB12F;">
                                                <p>Hi,</p>
                                                <p>I am feeling very nice after talking to you. Your intent to help, absence of prejudice, the way you heedfully listen and your tenderness is felt. I never correlated my current situation with my childhood, thanks for this pointer. I liked it when you said, "I have reserved time for you."- Thanks for this.</p>
                                                <p></p>
                                                <p style="color: #5c5c92"><strong>-- Hrishikesh, IT Professional, Hyderabad</strong></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col-sm-12 plr0" style="margin-top : 5px">
                                            <div class="col-xs-12 col-sm-2">
                                                    <img class="img-responsive" src="/app/assets/angular/images/home/avatar.png" width="90" height="90" style="height: 90px; margin:0 auto;" alt="Meghna">
                                            </div>
                                            <div class="col-xs-12 col-sm-10" style="border-left: 5px solid #5BB12F;">
                                                <p>I was just writing a testimonial about u .. then realised how much I miss talking now... the moments that changes you can never be forgotten .. so I count them in meaningful conversations too. Haha and also now that i reflect back.. I realised that I am a completely different person now... like not even kidding. I realise how different I am today than I was back then almost 2 different people... Today I am someone I always wanted to be (secretly) ,and not ashamed of it. Never thought I would be able to reach here. Thank you... Because u made me everything that I wrote in that paper which I gave to u the first time ... n even more... I now believe nothing is impossible.</p>
                                                <p></p>
                                                <p style="color: #5c5c92"><strong>-- P. Rathore, Student, Jaipur</strong></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-sm-12 plr0">
                                        <div class="col-sm-12 plr0" style="margin-top : 5px">
                                            <div class="col-xs-12 col-sm-2">
                                                    <img class="img-responsive" src="/app/assets/angular/images/home/avatar.png" width="90" height="90" style="height: 90px; margin:0 auto;" alt="Meghna">
                                            </div>
                                            <div class="col-xs-12 col-sm-10" style="border-left: 5px solid #5BB12F;">
                                                <p>XII CBSE, 2016</p>
                                                <p>24 students out of 33 students of Dr. Kavita having Psychology scored above 90...! One-100/100... Batch average 88.4!!</p>
                                                <p style="color: #5c5c92"><strong>Testimonials by Dr. Kavita's students- </strong></p>
                                                <p>Your revision classes were awesome!</p>
                                                <p>I am also taking up Psychology in my college!</p>
                                                <p>Each student should have a Mentor like you...</p>
                                                <p>Please teach me once again</p>
                                                <p>Its all because of you Ma'am!</p>
                                                <p>I am in love with Psychology just because of you...</p>
                                                <p>Thank you so much for supporting me always.</p>
                                            </div>
                                        </div>
                                        <p></p>
                                        <p></p>
                                        <p></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>        
                </div>
            </div>
        </div>
    </div>        
</section>
<section class="service-2 section team xx">
    <div class="container">
        <div class="row team-row">
            <div class="text-center">
                <h2>Our Collaborations</h2>
                <div class="border"></div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="row ">
                    <div class="col-md-12 col-sm-12 col-xs-12 service-item1">
                        <div class="col-sm-4" style="border-right: 1px solid #5BB12F;">
                                <img class="img-responsive" src="/app/assets/angular/images/home/healinghand.jpg" style="width: 220px; height: 220px; margin: 0 auto;" alt="">
                        </div>
                        <div class="col-sm-4" style="border-right: 1px solid #5BB12F;">
                            <div style="background: #000; background: #000; width: fit-content; margin: 0 auto; padding: 15px;">
                                <img class="img-responsive" src="/app/assets/angular/images/home/kpsych.png" style="width: 220px; height: 180px; margin: 0 auto;" alt="">
                            </div>
                        </div>
                        <div class="col-sm-4">
                                <img class="img-responsive" src="/app/assets/angular/images/home/withCare.jpg"  style="width: 220px; height: 220px; margin: 0 auto;" alt="">
                        </div>          
                    </div>
                </div>
            </div>
        </div>
    </div>        
</section> 
<div class="top-footer">
        <div class="container-fluid">
            <div class="row" style="border-bottom: 2px solid;">
                <div class="col-sm-12 col-md-9">
                    <p><span class="strong" style="font-size : 20px; font-weight: 600;">OPENING HOURS: </span><span style="font-size: 16px;">&nbsp;&nbsp;Monday - Friday: 8:00 AM - 08:00 PM | Saturday: 10:00 AM - 17:00 PM Sunday: 10:00 AM - 2:00 PM</span></p>
                </div>
                <div class="col-sm-12 col-md-3">
                    <p><i class="fa fa-phone"></i>&nbsp; +91-8003094570 / 9811167333 01414156669</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <h3>IIMSS</h3>
                    <p>Indian Institute of Mind and Spiritual Sciences. </p>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <ul>
                        <li><h3>Our Services</h3></li>
                        <li><a href="">Spiritual Awakening</a></li>
                        <li><a href="">Spiritual Mentoring</a></li>
                        <li><a href="">Whatsappinar on Love and Relationship</a></li>
                        <li><a href="/secure/service">Show More...</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <ul>
                        <li><h3>Quick Links</h3></li>
                        <li><a href="/secure/gallery">Gallery</a></li>
                        <li><a href="/secure/service">Services</a></li>
                        <li><a href="/secure/team">Team</a></li>
                        <li><a href="/secure/workshop">Workshop</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <ul>
                        <li><h3>Connect with us Socially</h3></li>
                        <li><a href="https://www.facebook.com/drkavitabhargava" target="_blank"><i class="tf-ion-social-facebook imgIcon"></i>&nbsp; Facebook</a></li>
                        <li><a href="#"><i class="tf-ion-social-twitter imgIcon"></i>&nbsp; Twitter</a></li>
                        <li><a href="#"><i class="tf-ion-social-google-outline imgIcon"></i>&nbsp; Google+</a></li>
                        <li><a href="https://www.linkedin.com/in/dr-kavita-bhargava-2b921514/" target="_blank"><i class="tf-ion-social-linkedin-outline imgIcon"></i>&nbsp; LinkedIn</a></li>
                    </ul>
                </div>
            </div>
        </div>
</div>            
<div ng-include="'/app/assets/angular/views/footer.html'"></div>


<style>
    .top-footer {
        background-color: #222222;
        border-top: 1px solid #404040;
        padding: 25px 0 25px;
        padding-left : 20px;
        padding-right: 20px;
    }
    .section {
        padding: 30px 0px 30px 0px !important;
    }
    .container2 {
        height: 200px;
        margin: 1em auto;
        overflow: hidden;
        background: white;
        position: relative;
        box-sizing: border-box;
    }
    .marquee {
        position: relative;
        box-sizing: border-box;
        animation: marquee 15s linear infinite;
    }

    .scroller {
        height: 200px;
        overflow: hidden;
    }
    .scroller li {
        float: left;
    }
    .homeSection {
        margin-top : 50px;
    }
    .btn-main2 {
        background: #5BB12F;
        border: 1px solid #5BB12F;
        color: #fff;
        display: inline-block;
        font-size: 14px;
        letter-spacing: 1px;
        padding: 4px 14px;
        text-transform: uppercase;
        border-radius: 40px;
    }
</style>
    
    