<div ng-include="'/app/assets/angular/views/header.html'" ng-controller="HeaderCtrl"></div>
<section class="service-2 section team">
  <div class="container">
      <div class="row team-row">
          <div class="text-center">
              <h2>Services</h2>
              <p>We are currently providing variour courses as a part of our primary service.</p>
              <div class="border"></div>
          </div>
          <div class="col-md-12 col-sm-12">
              <div class="row ">
                  <div class="col-md-12 col-sm-12 col-xs-12 service-item1">
                        <div class="col-sm-12 courseBox" ng-repeat="course in courses" ng-style="{'border-left': ('7px solid '+ course.color)}">
                            <div style="width : 100%" class="ellipses">
                                <a class="cursor-pointer color-black regular-strong link" style="width : 100%; font-size: 16px;"  ng-click="course.showDetails = !course.showDetails"><i ng-class="(course.showDetails == null || course.showDetails == false) ? 'fa fa-chevron-circle-right dropLink' : 'fa fa-chevron-circle-down dropLink'" ></i>&nbsp;&nbsp;{{course.name}}</a>  
                            </div>
                            <div style="width : 100%" ng-if="course.showDetails">
                                    <div class="border2">
        
                                    </div>
                                    <p>No Details Available.</p>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <p class="text-center">Have a query??? Feel free to contact us.</p>
                            <p class="text-center">
                                    <a data-scroll href="/secure/contact" class="btn btn-main">Contact Us</a>
                             </p>
                        </div>
                        
                  </div>
              </div>
          </div>
      </div>
  </div>    
</section>    
<div ng-include="'/app/assets/angular/views/footer.html'"></div>

<style>
    .courseBox {
    /* border-left: 5px solid red; */
        background: #f2f2f2;
        margin-bottom: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #000 !important;
    }
    .courseBox a{
        color: #000 !important;
    }
    .link:hover{
        color: #000 !important;
    }  
    .color-black {
        color: #000;
    }
    .service-2 .service-item1:hover i {
        color: #000;
    }
    .border2 {
        height: 2px;
        margin: 15px auto 15px;
        position: relative;
        /* width: 80%; */
        background: #28ABE3;
    }
</style>
