<div ng-include="'/app/assets/angular/views/header.html'" ng-controller="HeaderCtrl"></div>
  
    
    
    <section class="service-2 section team">
        <div class="container">
            <div class="row team-row">
                <div class="text-center">
                    <h2>Our Team</h2>
                    <div class="border"></div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="row ">
                        <div class="col-md-12 col-sm-12 col-xs-12 service-item1">
                            <div class="col-md-4 col-sm-12 ">
                                <div class="team-member text-center">
                                    <div class="member-photo">
                                        <img class="img-responsive" src="/app/assets/angular/images/team/member-4.png" width="360"alt="Meghna">
                                        <div class="mask">
                                            <ul class="clearfix">
                                                <li><a href="https://www.facebook.com/NeerjaHandaNewDelhi" target="-blank"><i class="tf-ion-social-facebook imgIcon"></i></a></li>
                                                <li><a href="#"><i class="tf-ion-social-twitter imgIcon"></i></a></li>
                                                <li><a href="#"><i class="tf-ion-social-google-outline imgIcon"></i></a></li>
                                                <li><a href="https://www.linkedin.com/in/neerja-handa-62b9396/" target="_blank"><i class="tf-ion-social-linkedin-outline imgIcon"></i></a></li>					
                                            </ul>
                                        </div>
                                    </div>
                                    
                                    <div class="member-content">
                                        <h3>Ms. Neerja Handa</h3>
                                        <span>Director</span>
                                    </div>    
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 ">
                                <div class="team-member text-center">
                                    <div class="member-photo">
                                        <img class="img-responsive" src="/app/assets/angular/images/team/member-5.jpg" width="360" alt="Meghna">
                                        <div class="mask">
                                            <ul class="clearfix">
                                                <li><a href="https://www.facebook.com/drkavitabhargava" target="_blank"><i class="tf-ion-social-facebook imgIcon"></i></a></li>
                                                <li><a href="#"><i class="tf-ion-social-twitter imgIcon"></i></a></li>
                                                <li><a href="#"><i class="tf-ion-social-google-outline imgIcon"></i></a></li>
                                                <li><a href="https://www.linkedin.com/in/dr-kavita-bhargava-2b921514/" target="_blank"><i class="tf-ion-social-linkedin-outline imgIcon"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="member-content">
                                        <h3>Dr. Kavita Bhargava</h3>
                                        <span>Director</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 ">
                                <div class="team-member text-center">
                                        <div class="member-photo">
                                            <img class="img-responsive" src="/app/assets/angular/images/team/member-6.jpg" width="360" height="320" style="height: 360px;" alt="Meghna">
                                            <div class="mask">
                                                <ul class="clearfix">
                                                    <li><a href="#"><i class="tf-ion-social-facebook imgIcon"></i></a></li>
                                                    <li><a href="#"><i class="tf-ion-social-twitter imgIcon"></i></a></li>
                                                    <li><a href="#"><i class="tf-ion-social-google-outline imgIcon"></i></a></li>
                                                    <li><a href="#"><i class="tf-ion-social-dribbble imgIcon"></i></a></li>					
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="member-content">
                                            <h3>Mrs. Anita Sehgal</h3>
                                            <span>Trainer</span>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </section>    
<div ng-include="'/app/assets/angular/views/footer.html'"></div>
