<div ng-include="'/app/assets/angular/views/header.html'" ng-controller="HeaderCtrl"></div>
<section class="page-404 section text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
                    <p class="text-center"><img class="img-responsive" src="/app/assets/angular/images/maintenance/maintenance.png" width="360" height="320" style="height: 360px; margin:0 auto;" alt="Meghna"></p>
					<h3>This page is down for construction.</h3>
  					<p>We will back up very shortly..</p>
				</div>
			</div>
		</div>
	</section>
<div ng-include="'/app/assets/angular/views/footer.html'"></div>
    
    