.sticky-header {
    color: #0c2e8a;;
      font-family: "Montserrat", sans-serif;
    font-weight: 700;
}
.sticky-header span {
  color: #50d8af;;
}
.sticky-header .navbar-brand {
  color: #0c2e8a;;
}
.color-white {
  color : #fff;
}
.color-green {
  color: #50d8af;
}
.mr5 {
  margin-right: 5px;
}
.plr0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.imgIcon {
  background: transparent !important;
  color: #fff !important;
}
.carousel-control.left {
  background: none !important;
  background-image: none !important;
}
.carousel-control.right {
  background: none !important;
  background-image: none !important;
}
.boxShadow {
  box-shadow: 0 0 30px black;
}
.gridImage {
  width: 100%;
  height: 320px;
  cursor: pointer;
}
.ptb5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.w15 {
  width:15px;
}
.dropLink {
  font-size: 20px;
  position: relative;
}
.hideAtLargeScreen {
  display : none;
}
.showAtLargeScreen {
  display: block;
}
.imageDescription {
  padding: 10px;
  background: rgba(0,0,0,0.9);
  color: #fff;
  text-align: center;
  cursor: pointer;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 2px solid #5bb12f !important;
}
.newsFeed {
  margin-top: 5px;
  padding: 15px;
  background: rgba(0,0,0,0.7);
  border-radius: 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}
.homeCar {
  height :500px; 
  width: 100%;
}
@media only screen and (max-width: 767px){
  .navbar-collapse.in {
    overflow-y: scroll !important;
  }
  .hideAtLargeScreen {
    display : block !important;
  }
  .showAtLargeScreen {
    display: none !important;
  }
  .homeCar {
    height :300px !important; 
    width: 100%;
  }
  .xx {
    margin-left: 10px;
    margin-right: 10px;
  }

}
